body { background-color: #eee; margin: 2em; }
img { float: left; }
img.fr { margin-left: 1em; }
.fl { float: left; }
.fr { float: right; }

ul { list-style: none; margin: 0; padding: 0; }
ul li { margin-bottom: 0.5em; }

/* header */
header { background-color: #fff; border-radius: 10px 10px 0 0; }
header .box { padding: 1em 2em; }
header ul li { float: left; margin:0 0 0 1em; color: #888; }
.breadcrumb + header { border-radius: 0; }
.breadcrumb { border-radius: 10px 10px 0 0; }
.breadcrumb .box { padding: 1em 2em; background-color: #fff; }

/* arrow */
header:first-child {  background-image: none; }
article { background: #fff url('../../images/arrow.png') no-repeat 26px top; }

/* content */
.row { border-radius: 10px; }
.box { padding: 3em 2em 2em; }
.boxlist { padding: 1em 1em; background-color: #f7f7f7; border-radius: 7px; margin-bottom: 1em; }
section { border-bottom: 1px solid #eee; }

article:last-child { border-radius: 0 0 10px 10px; }
article:last-child section:last-child { border: none; }

/* create */
.create.poll { background-color: #f7f7f7; text-align: center; }
.create button, .create .button { background-color: #FF4848; background-image: none; color: #fff; border: none; padding: 7px 10px 4px; font-size: 1.5em; margin-bottom: 0.5em; border-radius:4px; }
.create.login .box { padding: 3em 8em 2em; }

/* list */
.list li { padding: 1em 0; border-bottom: 1px solid #eee; }
.list span { float: right; }
.list li:last-child { border-bottom: none; margin-bottom: 0; }
.invite section { padding-bottom: 2em; }
.invite a { color: #000; text-decoration: none; }
